# Configuration file

####################
# block
####################

block {
    I:BUDBlockId=3392
    I:angelBlock=3393
    I:chandelierId=3394
    I:cobblestoneComprId=3395
    I:colorBlockBrickId=3396
    I:colorBlockDataId=3397
    I:coloredWoodId=3398
    I:conveyorId=3399
    I:cursedEarth=3400
    I:curtainId=3401
    I:decorative_1Id=3402
    I:drumId=3403
    I:enderThermicPumpId=3404
    I:etherealBlockId=3405
    I:greenScreen=3406
    I:magnumTorchId=3407
    I:peacefultableId=3408
    I:soundMufflerId=3409
    I:spikeId=3410
    I:timerBlockId=3411
    I:tradingPost=3412
    I:transferNodeId=3413
    I:transferPipeId=3414
    I:trashCan=3415
}


####################
# item
####################

item {
    I:buildersWandId=10003
    I:creativeBuildersWandId=10004
    I:destructionPickaxe=10007
    I:divisionSigilId=10010
    I:erosionShovel=10006
    I:ethericSword=10005
    I:goldenBagId=10015
    I:goldenLassoId=10000
    I:healingAxe=10008
    I:paintBrush=10001
    I:sonarGogglesId=10012
    I:temporalHoe=10009
    I:unstableIngotId=10002
    I:upgradeNodeId=10014
    I:wateringCanId=10013
}


####################
# options
####################

options {
    B:allNonNanillaDimensionsValidForEnderPump=false
    B:unstableIngotsExplode=true
    I:validDimensionsForEnderPump <
        -1
     >
}


####################
# recipes
####################

recipes {
    B:disableAdvBUDBlockRecipe=false
    B:disableAngelBlockRecipe=false
    B:disableBUDBlockRecipe=false
    B:disableBuildersWandRecipe=false
    B:disableChandelierRecipe=false
    B:disableColoredBricksRecipe=false
    B:disableColoredWoodPlanksRecipe=false
    B:disableCompressedCobblestoneRecipe=false
    B:disableConveyorRecipe=false
    B:disableCurtainRecipe=false
    B:disableDestructionPickaxeRecipe=false
    B:disableDivisionSiginInChests=false
    B:disableDrumRecipe=false
    B:disableEnderThermicPumpRecipe=false
    B:disableErosionShovelRecipe=false
    B:disableEtherealGlassRecipe=false
    B:disableEthericSwordRecipe=false
    B:disableFilterPipeRecipe=false
    B:disableFilterRecipe=false
    B:disableGoldenBagRecipe=false
    B:disableGoldenLassoRecipe=false
    B:disableHealingAxeRecipe=false
    B:disableMagnumTorchRecipe=false
    B:disableNodeUpgradeSpeedRecipe=false
    B:disableObsidianRecipe=false
    B:disablePaintbrushRecipe=false
    B:disablePeacefulTableRecipe=false
    B:disablePeacefulWitherRecipe=false
    B:disableRainMufflerRecipe=false
    B:disableRationingPipeRecipe=false
    B:disableRedstoneClockRecipe=false
    B:disableReversingHoeRecipe=false
    B:disableSonarGogglesRecipe=false
    B:disableSortingPipeRecipe=false
    B:disableSoundMufflerRecipe=false
    B:disableSpikeRecipe=false
    B:disableTradingPostRecipe=false
    B:disableTransferNodeEnergyRecipe=false
    B:disableTransferNodeLiquidRecipe=false
    B:disableTransferNodeRecipe=false
    B:disableTransferPipeRecipe=false
    B:disableTrashCanRecipe=false
    B:disableUnstableIngotRecipe=false
    B:disableWateringCanRecipe=false
    I:maxCompressedCobblestone=8
}


